.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-size: 100px;
  font-weight: bold;
  border: 20px solid black;
}

h2.intro {
  font-size: 30px;
  font-family: cursive;
}

p.intro {
  font-size: 20px;
  text-decoration: line-through;
  color: aquamarine;
}

img.intro {
  float: left;
}

.important {
  color: green
}

.unimportant {
  border: 100px solid purple;
}

.recipes {
  color: yellow;
  font-size: 75px;
}

img {
  float: left;
  margin-right: 10px;
}

.sidebar {
  width: 30%;
  height: 100%;
  float: right;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
}
